@import "defaults.scss";
@import "font.scss";

$default-font: Raleway-Regular, -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

body {
  font-family: $default-font;
  margin: 0;
  padding: 0;
  color: $font-color-2;
  background: #fff;
}

footer#copyright {
  background: $font-color-2;
  color: $font-color-1;
  font-size: 13px;
  padding: 10px 15px;
}
