@import "colors.scss";
@import "birds.scss";

body {
  background: #a30071 !important;
}
header {
  background: #fff;

  .logo > img {
    width: 270px;
  }
  .upper-part {
    padding: 15px;
  }
}

.main-content {
  /* div.welcome */
  div.welcome {
    text-align: center;
    position: relative;

    div.subtitle-top {
      margin-top: 100px;
      font-size: 30px;
      color: $font-color-1;
    }

    div.title {
      font-size: 67px;
      color: $font-color-1;
      font-family: Raleway-SemiBold;
      letter-spacing: 4px;
    }

    div.subtitle {
      font-size: 35px;
      color: $font-color-1;
      margin-bottom: 100px;
      font-family: Satisfy;
    }

    button.join {
      color: $brand-main;
      font-size: 19px;
      border-radius: 3px;
      border: 0;
      background-color: $font-color-1;
      text-transform: none;
      padding: 15px 27px;
      margin-bottom: 100px;
      font-family: Raleway-bold;
      letter-spacing: 0.1em;
    }
  }

  .welcome::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.27;
    background: url("../images/image6.JPG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background: url(https://images.pexels.com/photos/1112048/pexels-photo-1112048.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: 0px -79px;
  }

  /* div.welcome */

  /* div.schedule */
  div.schedule {
    background: $font-color-1;
    color: $brand-main;
    text-align: center;
    position: relative;

    div.title {
      font-size: 45px;
      font-family: Raleway-Bold;
      padding: 15px;
      text-transform: uppercase;
      margin-bottom: 50px;
    }

    ul {
      display: flex;
      justify-content: space-around;
      margin-bottom: 15px;
    }
    ul > li {
      display: inline-block;
    }
    ul > li > span {
      display: block;
      font-family: Raleway-Semibold;
    }

    ul > li > span.location {
      font-size: 25px;
      font-family: Satisfy;
      font-weight: bold;
    }

    ul > li > span.time {
      font-size: 17px;
    }
  }

  .schedule.section::after {
    content: "";
    background: url("https://images.pexels.com/photos/1666816/pexels-photo-1666816.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    opacity: 0.2;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 3px 228px;
    left: 0;
  }
  /* div.schedule */
}

.wp-fadein {
  transform: translateY(5px);
}

.wp-fadein-animate {
  opacity: 1;
  transform: translateY(0px);
  animation: jig 250ms ease-out;
}

@keyframes jig {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.33;
  }
  66% {
    opacity: 0.66;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@media only screen and (max-width: 600px) {
  //   body {
  //     background-color: blue !important;
  //   }
  .main-content div.welcome div.subtitle-top {
    margin-top: 25px;
  }
  .main-content div.welcome button.join {
    margin-bottom: 20px;
    font-size: 10px;

    padding: 8px 12px;
  }

  .main-content div.welcome div.subtitle {
    margin-bottom: 25px;
  }

  .main-content div.welcome div.subtitle-top {
    font-size: 20px;
  }
  .main-content div.welcome div.title {
    font-size: 40px;
  }
  .main-content div.welcome div.subtitle {
    font-size: 25px;
  }

  .bird-box {
    width: 70%;
    margin-top: 14px;
  }
}
